*,
:after,
:before {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 100%; /* 100% = 16px = 1rem*/
}
h1, h2, h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

p, ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem; /* 1rem * 16px = 16px */
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: wrap;
}

header
  {
  display: block;
  margin: 0;
  padding: 1.25rem; /* 1.25 * 16 = 20px */
  border-bottom: 2px solid #b7b7b7;
  color: #fff;
}

/* ajustar footer */
footer{
  /* display: block; */
  margin: 0;
  padding-top: 1.25rem; /* 1.25 * 16 = 20px */
  padding-bottom: 1.25em;
  border-top: 2px solid #b7b7b7;
  color: #fff;
}

aside {
  display: block;
  margin: 0;
  /* padding: 1.25rem; 1.25 * 16 = 20px */
  /* border: 1px solid #000; */
  color: #fff;
}

/* quitar decoracion de enlaces */
a{
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 640px) { /* declaración de media query: de 640px hacia arriba */
  .flex-container {
      display: flex;
  }
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 3px;
}

  /* MENU */
.menu-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  
}
    
.menu-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.menu-toggle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  
}

  /* FONDO */
.hero {
  background: #c9c8c8;
  padding: 20px;
}

/* imagen de fondo */
.cielo {
  background: url('imagenes/Group7.jpg');
  background-position: bottom;
  background-size: cover;
}

/* decoracion de titulo */
.titulo-home{
  display: flex;
  font-size: 80px;
  text-align: start;
  padding: 20px;
  flex-direction: column;
  color: black;
}

/* color morado */
.morado{
  color: #884BF4;
}
.espaciado-hero {
  padding: 5px;
}
.espaciado-p {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
/* columnas para botones */
.columna1 {
  flex: 1;
  align-content: center;
}
.columna2 {
  flex: 0 1 30%; /* columna del 30% del ancho de la pantall */
  align-content: center;
}

    

.intro-home{
  display: flex;
  font-size: 30px;
  padding: 20px;
  color: black;
}

.botones-home{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 500px;
  min-width: 20px;
}

/* boton */
.botonform2 {
  color: #fff;
  background: rgba(87, 58, 165, 1);
  font-weight: bold;
  padding: 25px;
  text-align: center;
  border-radius: 50px;
  width: 300px;
  margin: 10px;
  font-size: 27px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.botonform2 a{
  color: #fff;
  text-decoration: none;
}

.boton{
  /* width: 100%; */
  padding-left: 20px;
  padding-right: 20px;
}

.espacio-blanco{
  margin-bottom: 150px;
}

/* footer */
.pie{
  text-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-top: auto;
}

@media (max-width: 768px) { /* declaración de media query: de 768px hacia abajo */
  .intro-home{
    font-size: 18px;
  }
  .titulo-home{
    font-size: 40px;
  
  }

  .botones-home{
    flex-direction: column;
    justify-content: center;
    align-items: center;
      /* padding: 40px; */
  }
  .botonform2{
    width: 150px;
    margin: 10px;
    font-size: 15px;

  }
  /* ajustar la imagen a otra para pantallas pequenas */
  .cielo{
    background: url('imagenes/cieloCompacto.png');
    background-position: bottom;
    background-size: cover;
  }

}

    
 
/* estilos overlay */
.button_container {
    position: absolute;
    /* top: 5%;
    left: 4%; */
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
  }


  .button_container:hover {
    opacity: .7;
  }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #000000;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #000000;
  }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #000000;
  }
  .button_container span {
    background: #000000;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }
  .button_container.noabs{
    position: fixed;
  }
  .button_container span:nth-of-type(2) {
    top: 11px;
  }
  .button_container span:nth-of-type(3) {
    top: 22px;
  }
  .overlay {
    position: fixed;
    background: #ffffff;
    top: 0;
    right: 50%;
    width: 50%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }
  
  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  .overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
  }
  .overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(4) {
    animation-delay: .50s;
  }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-align: center;
  }

  @media (max-width: 768px) { /* declaración de media query: de 768px hacia abajo */
    .overlay nav {
        font-size: 20px;
    }
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    display: block;
    position: relative;
    color: #000000;
    text-decoration: none;
    overflow: hidden;
  }
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #000000;
    transition: .35s;
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }